{% url 'home:index' as home_base_url %}
{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{% block title %}My Tasks{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'modules/bootstrap/css/bootstrap-grid.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/fontawesome/fontawesome-all.min.css' %}">
    <style>
        body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

.add-todo-input,
.edit-todo-input {
    outline: none;
}

.add-todo-input:focus,
.edit-todo-input:focus {
    border: none !important;
    box-shadow: none !important;
}

.view-opt-label,
.date-label {
    font-size: 0.8rem;
}

.edit-todo-input {
    font-size: 1.7rem !important;
}

.todo-actions {
    visibility: hidden !important;
}

.todo-item:hover .todo-actions {
    visibility: visible !important;
}

.todo-item.editing .todo-actions .edit-icon {
    display: none !important;
}
    </style>
</head>

<body>
	<section id="main" class="container-md mx-md-auto mx-1">
		{% block main %}
        <div class="container m-5 p-2 rounded mx-auto bg-light shadow" style="background-color: pink;">
            <!-- title section -->
            <div class="row m-1 p-4">
                <div class="col">
                    <div class="p-1 h1 text-primary text-center mx-auto display-inline-block" style="color: rgb(255, 0, 123)!important;">
                        <i class="fa fa-sticky-note rounded p-2" style="color:rgb(255, 200, 0)!important"></i>
                        <i class="fal fa-alien-monster "></i>
                        <u><b>My To-Do-List</b></u>
                    </div>
                </div>
            </div>

            <!-- Create todo section -->
            <div class="row m-1 p-3">
                <div class="col col-11 mx-auto">
                    <form class="form-container" id = "infoForm" enctype="multipart/form-data" action="/create_task/"method="POST" role="form">
                        <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                            {% csrf_token %}
                            <div class="col form-group">
                                <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" name="title" placeholder="Add a new task..." required>
                            </div>
                            <div class="col-auto px-0 mx-0 mr-2 ">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        
                        </div>
                    </form>
                </div>
            </div>
            <div class="p-2 mx-4 border-black-25 border-bottom"></div>
            <!-- View options section -->
            <div class="row m-1 p-3 px-5 justify-content-end">
                <div class="col-auto d-flex align-items-center">
                    <label class="text-secondary my-2 pr-2 view-opt-label">Filter</label>
                    <select class="custom-select custom-select-sm btn my-2">
                        <option value="all" selected>All</option>
                        <option value="completed">Completed</option>
                        <option value="active">Active</option>
                        <option value="has-due-date">Has due date</option>
                    </select>
                </div>
                <div class="col-auto d-flex align-items-center px-1 pr-3">
                    <label class="text-secondary my-2 pr-2 view-opt-label">Sort</label>
                    <select class="custom-select custom-select-sm btn my-2">
                        <option value="added-date-asc" selected>Added date</option>
                        <option value="due-date-desc">Due date</option>
                    </select>
                    <i class="fa fa fa-sort-amount-asc text-info btn mx-0 px-0 pl-1" data-toggle="tooltip" data-placement="bottom" title="Ascending"></i>
                    <i class="fa fa fa-sort-amount-desc text-info btn mx-0 px-0 pl-1 d-none" data-toggle="tooltip" data-placement="bottom" title="Descending"></i>
                </div>
            </div>
            <!-- Todo list section -->
            <div class="row mx-1 px-5 pb-3 w-80">
                <div class="col mx-auto">

                    {% for task in todolist %}
            <div class="row px-3 align-items-center todo-item rounded">
                <div class="col-auto m-1 p-0 d-flex align-items-center">
                    <h2 class="m-0 p-0">
            
                            {% if task.complete == False %}
                            <form method="POST" nctype="multipart/form-data" action="/change_status/"method="POST" role="form" >
                                {% csrf_token %}
                            <input name="id" type="hidden" value="{{task.id}}" >
                            <input name="status" type="hidden" value="True" >
                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >complete</button>
                        </form>
                            {% else %}
                            <form method="POST" nctype="multipart/form-data" action="/change_status/"method="POST" role="form" >
                                {% csrf_token %}
                            <input name="id" type="hidden" value="{{task.id}}" >
                            <input name="status" type="hidden" value="False" >
                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >Undo</button>
                        </form>
                            {% endif %}
        
                    </h2>
                </div>
                <div class="col px-1 m-1 d-flex align-items-center">
                    {% if task.complete == true %}
                    <strike>
                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3" readonly value="{{task.title}}" title="{{task.title}}" />
                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input rounded px-3 d-none" value="{{task.title}}" />
                </strike>
                    {% else %}
                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3" readonly value="{{task.title}}" title="{{task.title}}" />
                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input rounded px-3 d-none" value="{{task.title}}" />
                    {% endif %}
    
                </div>
                <div class="col-auto m-1 p-0 px-3 d-none">
                </div>
                <div class="col-auto m-1 p-0 todo-actions">
                    <div class="row d-flex align-items-center justify-content-end">
                        <h5 class="m-0 p-0 px-2">
                            <i class="fa fa-pencil text-info btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Edit todo"></i>
                        </h5>
                        <h5 class="m-0 p-0 px-2">
                            <i class="fa fa-trash-o text-danger btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Delete todo"></i>
                        </h5>
                    </div>
                    <div class="row todo-created-info">
                        <div class="col-auto d-flex align-items-center pr-2">
                            <i class="fa fa-info-circle my-2 px-2 text-black-50 btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Created date"></i>
                            <label class="date-label my-2 text-black-50">{{task.create_date}}</label>
                        </div>
                    </div>
                </div>
            </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% endblock %}
		</section>

	
    {% block scripts %}
    <!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'modules/bootstrap/js/popper.min.js' %}"></script>
	<script src="{% static 'modules/bootstrap/js/bootstrap.min.js' %}"></script>
   <script>
    window.onload = function () {
        bootlint.showLintReportForCurrentDocument([], {
            hasProblems: false,
            problemFree: false
        });
    
        $('[data-toggle="tooltip"]').tooltip();
    
    
        $("#datetimepicker1").datetimepicker();
    
    
        var currentDate = formatDate(new Date());
    
        $(".due-date-button").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
            startDate: currentDate,
            orientation: "bottom right"
        });
    
        $(".due-date-button").on("click", function (event) {
            $(".due-date-button")
                .datepicker("show")
                .on("changeDate", function (dateChangeEvent) {
                    $(".due-date-button").datepicker("hide");
                    $(".due-date-label").text(formatDate(dateChangeEvent.date));
                });
        });
    };
</script>
    {% endblock %}
	<!-- Scripts -->
</body>
</html>